#!/bin/bash

utils=(cscope universal-ctags git)

for util in "${utils[@]}"; do
	sudo dpkg -s $util &>/dev/null && continue
	echo "Installing $util.."
	sudo apt-get install -y "$util" || exit $?
done

touch ~/.ggitignore
git config --global core.excludesfile ~/.ggitignore

ignorables=(tags cscope.out ncscope.out ctags.files cscope.files .retag.files)
for file in ${ignorables[*]}; do
	! grep -qxF "$file" ~/.ggitignore  && echo "$file" >> ~/.ggitignore
done

exit 0
